// Variables
$brand-primary: darken(#428bca, 6.5%);
$link-color: #000;
$link-hover-color: $link-color;

@mixin font-face2($fontname, $filename: $fontname, $weight: normal, $style: normal) {
    @font-face {
        font-family: $fontname;
        src: url('../fonts/#{$filename}.eot');
        src: url('../fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/#{$filename}.woff') format('woff'),
        url('../fonts/#{$filename}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face2('Proxima Nova', '../fonts/proxima-nova/proximanova-thin-webfont', 100);
@include font-face2('Proxima Nova', '../fonts/proxima-nova/proximanova-light-webfont', 300);
@include font-face2('Proxima Nova', '../fonts/proxima-nova/proximanova-regular-webfont', 400);
@include font-face2('Proxima Nova', '../fonts/proxima-nova/proximanova-semibold-webfont', 600);
@include font-face2('Proxima Nova', '../fonts/proxima-nova/proximanova-bold-webfont', 700);
@include font-face2('Proxima Nova', '../fonts/proxima-nova/proximanova-black-webfont', 900);
@include font-face2('Rockwell', '../fonts/Rockwell', 400);
@include font-face2('Rockwell', '../fonts/Rockwell-Bold', 700);
@include font-face2('Rockwell', '../fonts/Rockwell-Extra-Bold', 800);

@for $i from 0 through 10 {
    .mt-#{$i*10} {
        margin-top: #{$i*10}px;
    }
    .mb-#{$i*10} {
        margin-bottom: #{$i*10}px;
    }
    .ml-#{$i*10} {
        margin-left: #{$i*10}px;
    }
    .mr-#{$i*10} {
        margin-right: #{$i*10}px;
    }
    .pt-#{$i*10} {
        padding-top: #{$i*10}px;
    }
}

// Usage
a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.btn {
    min-width: 120px;
}
.btn-default {
    color: #093254;
    border: solid 1px #093254;
    background: #FFF;
}
.btn-primary {
    background: #1464a6;
    border-color: #1464a6;
}
.btn-success {
    background-color: #277746;
    border-color: #277746;
}
.btn-warning2 {
    color: #f0ad4e !important;
    background-color: #FFF;
    border-color: #eea236;
}
.btn-warning2 {
    color: #f0ad4e !important;
    background-color: #FFF;
    border-color: #eea236;
    font-family: Rockwell;
}
.btn-danger2 {
    color: #d9534f !important;
    background-color: #FFF;
    border-color: #d43f3a;
    font-family: Rockwell;
}
.alert {
    padding: 15px;
    margin: 0;

    &.alert-danger {
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-style: italic;
    }
}
nav {
    &.navbar-default {
        background: #093254;
        height: 60px;
        border: none;
        border-radius: 0px;
        margin-bottom: 0;

        .navbar-brand {
            padding: 11px 0 0 0;
            margin-right: 70px;
            height: auto;
        }
        .navbar-nav>li>a {
            padding-top: 20px;
            padding-bottom: 20px;
            color: #FFF;
            font-family: 'Proxima Nova';
            font-weight: 500;
            font-size: 14px;
            min-width: 110px;
            text-align: center;
        }
        .navbar-nav>li>a:focus,
        .navbar-nav>li>a:hover {
            background: #2d506d;
            color: #FFF;
        }
       .navbar-nav>.active>a,
       .navbar-nav>.active>a:focus,
       .navbar-nav>.active>a:hover {
           background: #2d506d;
           color: #FFF;
       }
    }
}
.breadcrumb {
    background: none;
    margin-bottom: 5px;
    margin-top: 10px;

    a {
        font-family: 'Rockwell';
        font-weight: 400;
        font-size: 12px;
        font-style: italic;
        color: #818a82;
    }
    > .active {
        font-family: 'Rockwell';
        font-weight: 400;
        font-size: 12px;
        font-style: italic;
        color: #133f62;
    }
}
.sectionHeader {
    h4 {
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 0px;

        .title {
            font-family: Rockwell;
            font-size: 20px;
            font-weight: 700;
            color: #6f1932;
            float: left;
        }
        .total {
            color: #FFF;
            background: #427095;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            font-size: 12px;
            font-family: Helvetica;
            float: left;
            padding: 3px 7px 1px;
            margin-left: 10px;
            margin-top: 3px;
        }
    }
    .searchWrapper {
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 1px #d1d1d1;
        height: 32px;

        input {
            border: none;
            background: none;
            font-family: Rockwell;
            font-width: 400;
            font-size: 14px;
            font-style: italic;
            outline: none;
            width: 100%;
            height: 31px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .btn {
        font-family: Rockwell;
        font-size: 14px;
        font-weight: 400;
        padding-top: 10px;
    }
}
.sectionTable {
    thead {
        tr {
            th {
                background: #44525e;
                color: #FFF;
                border: none;
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 700;
                padding: 12px;
            }
        }
    }
    tbody {
        tr {
            td {
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 400;
                color: #2a2c2e;
                padding: 6px 12px;
                border-bottom: 1px solid #eceeef;
                vertical-align: middle;
                min-height: 47px;
                height: 47px;
            }
            &:hover {
                background: #dce2e8;

                .sectionLink {
                    > a {
                        display: inline-block;
                    }
                }
                td {
                    font-weight: 700;
                }
            }
        }
    }
}
.sectionLink {
    > a {
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        color: #343537;
        padding: 0 20px;
        display: none;
    }
    .delete {
        color: #92163b;
        position: relative;

        &:before {
            content: "|";
            position: absolute;
            left: 0px;
        }
    }
}
.sectionForm {
    .form-group {
        margin-bottom: 30px;

        label {
            font-family: Rockwell;
            font-size: 13px;
            font-weight: 600;
            color: #133f62;

            &.btn-file {
                font-weight: 400;
                padding-top: 10px;
                font-size: 14px;
            }
        }
        .form-control {
            padding-top: 8px;
            padding-bottom: 8px;
            height: 38px;
            font-family: "Proxima Nova";
            font-weight: 400;
            color: #000;

            &[readonly] {
                background: none;
            }
        }
        textarea {
            &.form-control {
                height: 120px;
                resize: none;
            }
        }
        &.customSelectGroup {
            .select2-container .select2-selection--single {
                padding: 5px 0;
                height: 38px;
                font-family: Rockwell;
                font-size: 14px;
                font-weight: 400;

            }
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 36px;
            }
        }
        .previewImage {
            background: url('../images/img_default.jpg') no-repeat center center;
            margin-right: 10px;
            background-size: contain;
            width: 220px;
            height: 150px;
            float: left;
        }
        &.uploadFileAltWrapper {
            text-align: center;

            .previewImage {
                margin-right: 0;
                width: 100%;
                max-height: 197px;
                height: 197px;
            }
        }
    }
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-style: italic;
}
.select2-container--default .select2-results__option {
    font-family: Rockwell;
    font-weight: 400;
    font-size: 14px;
}
.sectionModal {
    .modal-header {
        padding: 30px 30px 20px 30px;
        border-bottom: 0;

        .modal-title {
            font-family: Rockwell;
            font-size: 20px;
            font-weight: 600;
            color: #6f1932;
        }
    }
    .modal-body {
        padding: 0 30px;
        font-family: 'Proxima Nova';
        font-size: 14px;
        font-weight: 400;

        .info {
            p {
                font-weight: 700;
                color: #093254;
                margin: 0;
            }
        }
    }
    .modal-footer {
        border-top: none;
        padding: 30px 0;
        text-align: center;
        font-family: Rockwell;
        font-size: 14px;
        font-weight: 400;
    }
    @media only screen and (min-width: 768px) {
        text-align: center;

        &:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
        &.fade {
            .modal-dialog {
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                transform: scale(0.9);
                opacity: 0;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            &.in {
                .modal-dialog {
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
}
.table-wrapper {
    .table-body-wrapper{
        height: 512px;
        overflow: auto;
    }
}

#login {
    background: url('../images/bg_login@3x.jpg') no-repeat left top;
    -webkit-background-size: cover;
    background-size: cover;

    .formWrapper {
        h4 {
            font-family: 'Rockwell';
            color: #093254;
            font-size: 16px;
            margin-bottom: 30px;
        }
        .alert-danger {
            padding-bottom: 0px;
            background: none;
            border: none;
        }
        .form-group {
            margin: 0;
        }
        .has-error {
            .form-control {
                background: #f2dede;
            }
        }
        input[type=email] {
            border: none;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            font-family: 'Rockwell';
            font-weight: normal;
            font-size: 14px;
            font-style: italic;
            font-stretch: normal;
            text-align: left;
            height: 44px;
        }
        input[type=password] {
            border: none;
            border-top: 1px solid #ececed;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            font-family: 'Rockwell';
            font-weight: normal;
            font-size: 14px;
            font-style: italic;
            font-stretch: normal;
            text-align: left;
            height: 44px;
        }
        .checkbox {
            margin: 30px 0;

            label {
                font-family: 'Proxima Nova';
                font-size: 14px;
                font-weight: normal;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    background: url('../images/checkbox@3x.png') no-repeat left top;
                    background-size: 16px 16px;
                    width: 16px;
                    height: 16px;
                    left: 0;
                    top: 1px;
                }
            }
            input {
                display: none;

                &:checked + label:before {
                    background: url('../images/checkbox_selected@3x.png') no-repeat left top;
                    background-size: 16px 16px;
                }
            }
        }
        button[type=submit] {
            margin: 30px auto;
            width: 70%;
            background: #1464A6;
            color: #FFF;
            font-family: 'Rockwell';
            border: none;
            font-size: 14px;

        }
        .linkForgotPassword {
            text-decoration: underline;
            font-family: 'Proxima Nova';
            font-size: 14px;
            font-weight: normal;
            color: #73253d;

            &:hover {
                text-decoration: none;
            }
        }
    }
}