@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/../fonts/proxima-nova/proximanova-thin-webfont.eot");
  src: url("../fonts/../fonts/proxima-nova/proximanova-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/proxima-nova/proximanova-thin-webfont.woff") format("woff"), url("../fonts/../fonts/proxima-nova/proximanova-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/../fonts/proxima-nova/proximanova-light-webfont.eot");
  src: url("../fonts/../fonts/proxima-nova/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/proxima-nova/proximanova-light-webfont.woff") format("woff"), url("../fonts/../fonts/proxima-nova/proximanova-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/../fonts/proxima-nova/proximanova-regular-webfont.eot");
  src: url("../fonts/../fonts/proxima-nova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/proxima-nova/proximanova-regular-webfont.woff") format("woff"), url("../fonts/../fonts/proxima-nova/proximanova-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/../fonts/proxima-nova/proximanova-semibold-webfont.eot");
  src: url("../fonts/../fonts/proxima-nova/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/proxima-nova/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/../fonts/proxima-nova/proximanova-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/../fonts/proxima-nova/proximanova-bold-webfont.eot");
  src: url("../fonts/../fonts/proxima-nova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/proxima-nova/proximanova-bold-webfont.woff") format("woff"), url("../fonts/../fonts/proxima-nova/proximanova-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/../fonts/proxima-nova/proximanova-black-webfont.eot");
  src: url("../fonts/../fonts/proxima-nova/proximanova-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/proxima-nova/proximanova-black-webfont.woff") format("woff"), url("../fonts/../fonts/proxima-nova/proximanova-black-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Rockwell";
  src: url("../fonts/../fonts/Rockwell.eot");
  src: url("../fonts/../fonts/Rockwell.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/Rockwell.woff") format("woff"), url("../fonts/../fonts/Rockwell.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Rockwell";
  src: url("../fonts/../fonts/Rockwell-Bold.eot");
  src: url("../fonts/../fonts/Rockwell-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/Rockwell-Bold.woff") format("woff"), url("../fonts/../fonts/Rockwell-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Rockwell";
  src: url("../fonts/../fonts/Rockwell-Extra-Bold.eot");
  src: url("../fonts/../fonts/Rockwell-Extra-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/Rockwell-Extra-Bold.woff") format("woff"), url("../fonts/../fonts/Rockwell-Extra-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
.mt-0 {
  margin-top: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.ml-0 {
  margin-left: 0px; }

.mr-0 {
  margin-right: 0px; }

.pt-0 {
  padding-top: 0px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mr-10 {
  margin-right: 10px; }

.pt-10 {
  padding-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mr-20 {
  margin-right: 20px; }

.pt-20 {
  padding-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-30 {
  margin-left: 30px; }

.mr-30 {
  margin-right: 30px; }

.pt-30 {
  padding-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.mr-40 {
  margin-right: 40px; }

.pt-40 {
  padding-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.ml-50 {
  margin-left: 50px; }

.mr-50 {
  margin-right: 50px; }

.pt-50 {
  padding-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mb-60 {
  margin-bottom: 60px; }

.ml-60 {
  margin-left: 60px; }

.mr-60 {
  margin-right: 60px; }

.pt-60 {
  padding-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-70 {
  margin-bottom: 70px; }

.ml-70 {
  margin-left: 70px; }

.mr-70 {
  margin-right: 70px; }

.pt-70 {
  padding-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mb-80 {
  margin-bottom: 80px; }

.ml-80 {
  margin-left: 80px; }

.mr-80 {
  margin-right: 80px; }

.pt-80 {
  padding-top: 80px; }

.mt-90 {
  margin-top: 90px; }

.mb-90 {
  margin-bottom: 90px; }

.ml-90 {
  margin-left: 90px; }

.mr-90 {
  margin-right: 90px; }

.pt-90 {
  padding-top: 90px; }

.mt-100 {
  margin-top: 100px; }

.mb-100 {
  margin-bottom: 100px; }

.ml-100 {
  margin-left: 100px; }

.mr-100 {
  margin-right: 100px; }

.pt-100 {
  padding-top: 100px; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: underline; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

.btn {
  min-width: 120px; }

.btn-default {
  color: #093254;
  border: solid 1px #093254;
  background: #FFF; }

.btn-primary {
  background: #1464a6;
  border-color: #1464a6; }

.btn-success {
  background-color: #277746;
  border-color: #277746; }

.btn-warning2 {
  color: #f0ad4e !important;
  background-color: #FFF;
  border-color: #eea236; }

.btn-warning2 {
  color: #f0ad4e !important;
  background-color: #FFF;
  border-color: #eea236;
  font-family: Rockwell; }

.btn-danger2 {
  color: #d9534f !important;
  background-color: #FFF;
  border-color: #d43f3a;
  font-family: Rockwell; }

.alert {
  padding: 15px;
  margin: 0; }
  .alert.alert-danger {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-style: italic; }

nav.navbar-default {
  background: #093254;
  height: 60px;
  border: none;
  border-radius: 0px;
  margin-bottom: 0; }
  nav.navbar-default .navbar-brand {
    padding: 11px 0 0 0;
    margin-right: 70px;
    height: auto; }
  nav.navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-size: 14px;
    min-width: 110px;
    text-align: center; }
  nav.navbar-default .navbar-nav > li > a:focus,
  nav.navbar-default .navbar-nav > li > a:hover {
    background: #2d506d;
    color: #FFF; }
  nav.navbar-default .navbar-nav > .active > a,
  nav.navbar-default .navbar-nav > .active > a:focus,
  nav.navbar-default .navbar-nav > .active > a:hover {
    background: #2d506d;
    color: #FFF; }

.breadcrumb {
  background: none;
  margin-bottom: 5px;
  margin-top: 10px; }
  .breadcrumb a {
    font-family: 'Rockwell';
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    color: #818a82; }
  .breadcrumb > .active {
    font-family: 'Rockwell';
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    color: #133f62; }

.sectionHeader h4 {
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 0px; }
  .sectionHeader h4 .title {
    font-family: Rockwell;
    font-size: 20px;
    font-weight: 700;
    color: #6f1932;
    float: left; }
  .sectionHeader h4 .total {
    color: #FFF;
    background: #427095;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size: 12px;
    font-family: Helvetica;
    float: left;
    padding: 3px 7px 1px;
    margin-left: 10px;
    margin-top: 3px; }
.sectionHeader .searchWrapper {
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  height: 32px; }
  .sectionHeader .searchWrapper input {
    border: none;
    background: none;
    font-family: Rockwell;
    font-width: 400;
    font-size: 14px;
    font-style: italic;
    outline: none;
    width: 100%;
    height: 31px;
    padding-left: 10px;
    padding-right: 10px; }
.sectionHeader .btn {
  font-family: Rockwell;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px; }

.sectionTable thead tr th {
  background: #44525e;
  color: #FFF;
  border: none;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  padding: 12px; }
.sectionTable tbody tr td {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  color: #2a2c2e;
  padding: 6px 12px;
  border-bottom: 1px solid #eceeef;
  vertical-align: middle;
  min-height: 47px;
  height: 47px; }
.sectionTable tbody tr:hover {
  background: #dce2e8; }
  .sectionTable tbody tr:hover .sectionLink > a {
    display: inline-block; }
  .sectionTable tbody tr:hover td {
    font-weight: 700; }

.sectionLink > a {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  color: #343537;
  padding: 0 20px;
  display: none; }
.sectionLink .delete {
  color: #92163b;
  position: relative; }
  .sectionLink .delete:before {
    content: "|";
    position: absolute;
    left: 0px; }

.sectionForm .form-group {
  margin-bottom: 30px; }
  .sectionForm .form-group label {
    font-family: Rockwell;
    font-size: 13px;
    font-weight: 600;
    color: #133f62; }
    .sectionForm .form-group label.btn-file {
      font-weight: 400;
      padding-top: 10px;
      font-size: 14px; }
  .sectionForm .form-group .form-control {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 38px;
    font-family: "Proxima Nova";
    font-weight: 400;
    color: #000; }
    .sectionForm .form-group .form-control[readonly] {
      background: none; }
  .sectionForm .form-group textarea.form-control {
    height: 120px;
    resize: none; }
  .sectionForm .form-group.customSelectGroup .select2-container .select2-selection--single {
    padding: 5px 0;
    height: 38px;
    font-family: Rockwell;
    font-size: 14px;
    font-weight: 400; }
  .sectionForm .form-group.customSelectGroup .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px; }
  .sectionForm .form-group .previewImage {
    background: url("../images/img_default.jpg") no-repeat center center;
    margin-right: 10px;
    background-size: contain;
    width: 220px;
    height: 150px;
    float: left; }
  .sectionForm .form-group.uploadFileAltWrapper {
    text-align: center; }
    .sectionForm .form-group.uploadFileAltWrapper .previewImage {
      margin-right: 0;
      width: 100%;
      max-height: 197px;
      height: 197px; }

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-style: italic; }

.select2-container--default .select2-results__option {
  font-family: Rockwell;
  font-weight: 400;
  font-size: 14px; }

.sectionModal .modal-header {
  padding: 30px 30px 20px 30px;
  border-bottom: 0; }
  .sectionModal .modal-header .modal-title {
    font-family: Rockwell;
    font-size: 20px;
    font-weight: 600;
    color: #6f1932; }
.sectionModal .modal-body {
  padding: 0 30px;
  font-family: 'Proxima Nova';
  font-size: 14px;
  font-weight: 400; }
  .sectionModal .modal-body .info p {
    font-weight: 700;
    color: #093254;
    margin: 0; }
.sectionModal .modal-footer {
  border-top: none;
  padding: 30px 0;
  text-align: center;
  font-family: Rockwell;
  font-size: 14px;
  font-weight: 400; }
@media only screen and (min-width: 768px) {
  .sectionModal {
    text-align: center; }
    .sectionModal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%; }
    .sectionModal .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle; }
    .sectionModal.fade .modal-dialog {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .sectionModal.fade.in .modal-dialog {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1; } }

.table-wrapper .table-body-wrapper {
  height: 512px;
  overflow: auto; }

#login {
  background: url("../images/bg_login@3x.jpg") no-repeat left top;
  -webkit-background-size: cover;
  background-size: cover; }
  #login .formWrapper h4 {
    font-family: 'Rockwell';
    color: #093254;
    font-size: 16px;
    margin-bottom: 30px; }
  #login .formWrapper .alert-danger {
    padding-bottom: 0px;
    background: none;
    border: none; }
  #login .formWrapper .form-group {
    margin: 0; }
  #login .formWrapper .has-error .form-control {
    background: #f2dede; }
  #login .formWrapper input[type=email] {
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'Rockwell';
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    font-stretch: normal;
    text-align: left;
    height: 44px; }
  #login .formWrapper input[type=password] {
    border: none;
    border-top: 1px solid #ececed;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-family: 'Rockwell';
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    font-stretch: normal;
    text-align: left;
    height: 44px; }
  #login .formWrapper .checkbox {
    margin: 30px 0; }
    #login .formWrapper .checkbox label {
      font-family: 'Proxima Nova';
      font-size: 14px;
      font-weight: normal;
      position: relative; }
      #login .formWrapper .checkbox label:before {
        content: '';
        position: absolute;
        background: url("../images/checkbox@3x.png") no-repeat left top;
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        left: 0;
        top: 1px; }
    #login .formWrapper .checkbox input {
      display: none; }
      #login .formWrapper .checkbox input:checked + label:before {
        background: url("../images/checkbox_selected@3x.png") no-repeat left top;
        background-size: 16px 16px; }
  #login .formWrapper button[type=submit] {
    margin: 30px auto;
    width: 70%;
    background: #1464A6;
    color: #FFF;
    font-family: 'Rockwell';
    border: none;
    font-size: 14px; }
  #login .formWrapper .linkForgotPassword {
    text-decoration: underline;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: normal;
    color: #73253d; }
    #login .formWrapper .linkForgotPassword:hover {
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */
